body {
    background-color: white;
}

.mainDiv {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

.productCard {
    border: 1px solid lightblue; 
    width: 30%;
    margin-top: 3%;
    box-shadow: 10px 5px 30px black;
}

img {
    max-width: 300px;
    max-height: 500px;
    display: block;
    margin: auto;
}

.productTitle {
    text-align: center;
}

.productDescription {
    text-align: justify;
    padding: 0 15px 0 15px;
}

.availability {
    background-color: grey;
    color: yellow;
    padding: 7px 0 7px 5px;
    font-size: 15px;
    font-family: helvetica;
}

.spec {
    font-weight: bold;
    padding-left: 8px;
    margin-bottom: -16px;
}

.price {
    font-weight: bold;
    padding-left: 8px;
    margin-bottom: -16px;
    margin-top: -1px;
}

li {
    list-style: none;
    font-weight: bold;
}

footer {
    margin-left: 4px;
    font-size: 13px;
}

.lastSpec {
    margin-bottom: -15px;
}

.lastPrice {
    margin-bottom: -15px; 
}