body {
    background-color: seagreen;
}

.mainDiv {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}


.productCard {
    border: 1px solid lightblue;
    margin-left: 20px;
    max-width: 33.33%;
            
}

img {
    max-width: 300px;
    max-height: 500px;
}