body {
    background-color: seagreen;
}

.mainDiv {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.productCard {
    border: 1px solid lightblue; 
    width: 30%;
    margin-top: 3%;
}

img {
    max-width: 300px;
    max-height: 500px;
}
